# Churn modelling end-to-end

### Importing libraries

In [1]:
import numpy as np, pandas as pd
import seaborn as sns, matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,MinMaxScaler
import pickle
%matplotlib inline

### Load the Dataset

In [2]:
churn_data=pd.read_csv("Churn_Modelling.csv")
df = churn_data.copy()

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

### Dropping unnecessary columns

In [7]:
df.drop(columns=df.iloc[:,0:3],inplace=True) # type: ignore

In [8]:
label_encode = LabelEncoder()
onehot_encode = OneHotEncoder(sparse_output=False).set_output(transform='pandas')
scale = MinMaxScaler()

In [9]:
with open('label_encode.pkl','wb') as file:
    pickle.dump(label_encode,file)
with open('onehot_encode.pkl','wb') as file:
    pickle.dump(onehot_encode,file)
with open('scale.pkl','wb') as file:
    pickle.dump(scale,file)

In [10]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Label Encode and One Hot to categorical columns

In [11]:
df['Gender'] = label_encode.fit_transform(df['Gender'])
df_geography = onehot_encode.fit_transform(df[['Geography']]) # type: ignore
df = pd.concat([df,df_geography],axis=1)
df.drop(columns='Geography',inplace=True)

In [12]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### Splitting the data

In [13]:
X = df.drop(columns=['Exited'])
y = df['Exited']
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

### Scaling the data

In [14]:
X_train[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.fit_transform(X_train[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])

In [18]:
X_test[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.fit_transform(X_test[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])

### ANN

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense,Dropout # type: ignore
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard # type: ignore

### Build ANN Model

In [21]:
# Create Model
model = Sequential([
    Dense(128,activation='relu',input_shape=(X_train.shape[1],)), # First hidden layer connected with i/p layer
    Dropout(0.3),
    Dense(64,activation='relu'), # Second hidden layer
    Dropout(0.2),
    Dense(32,activation='relu'), # Third hidden layer
    Dropout(0.1),
    Dense(1,activation='sigmoid')
])

c:\Users\Sayantan\anaconda3\envs\my_env\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
# Model Summary
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         1,664 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_2 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 12,033 (47.00 KB)

 Trainable params: 12,033 (47.00 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.001) # type: ignore
# opt = tensorflow.keras.optimizers.RMSprop(learning_rate=0.001)
# opt = tensorflow.keras.optimizers.SGD(learning_rate=0.001)

In [24]:
# Compile the model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [87]:
# log_dir = "logs/fit"
# tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
# Early stopping
early_stop = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [26]:
# history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[early_stop])
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=early_stop)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7991 - loss: 0.5075 - val_accuracy: 0.8125 - val_loss: 0.4384
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - accuracy: 0.7983 - loss: 0.4641 - val_accuracy: 0.8275 - val_loss: 0.4067
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.8133 - loss: 0.4320 - val_accuracy: 0.8360 - val_loss: 0.3820
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8297 - loss: 0.4040 - val_accuracy: 0.8415 - val_loss: 0.3677
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8300 - loss: 0.3913 - val_accuracy: 0.8450 - val_loss: 0.3582
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8409 - loss: 0.3749 - val_accuracy: 0.8535 - val_loss: 0.3527
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8473 - loss: 0.3655 - val_accuracy: 0.8535 - val_loss: 0.3645
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8501 - loss: 0.3629 - val_accuracy: 0.8580 - val_loss: 0.3487
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8534 - loss: 0.3556 - val_accuracy: 0.8640 - val_loss: 0.3489
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8492 - loss: 0.3582 - val_accuracy: 0.8550 - val_loss: 0.3576
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8566 - loss: 0.3575 - val_accuracy: 0.8580 - val_loss: 0.3487
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8560 - loss: 0.3566 - val_accuracy: 0.8550 - val_loss: 0.3540
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.8596 - loss: 0.3417 - val_accuracy: 0.8635 - val_loss: 0.3419
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8533 - loss: 0.3514 - val_accuracy: 0.8650 - val_loss: 0.3424
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8597 - loss: 0.3462 - val_accuracy: 0.8635 - val_loss: 0.3411
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.8581 - loss: 0.3539 - val_accuracy: 0.8595 - val_loss: 0.3478
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8560 - loss: 0.3450 - val_accuracy: 0.8625 - val_loss: 0.3412
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8603 - loss: 0.3448 - val_accuracy: 0.8585 - val_loss: 0.3422
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8541 - loss: 0.3529 - val_accuracy: 0.8575 - val_loss: 0.3463
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - accuracy: 0.8623 - loss: 0.3475 - val_accuracy: 0.8595 - val_loss: 0.3417
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.8626 - loss: 0.3429 - val_accuracy: 0.8625 - val_loss: 0.3422
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - accuracy: 0.8617 - loss: 0.3316 - val_accuracy: 0.8585 - val_loss: 0.3464
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8599 - loss: 0.3414 - val_accuracy: 0.8595 - val_loss: 0.3446
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8671 - loss: 0.3288 - val_accuracy: 0.8590 - val_loss: 0.3423
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.8614 - loss: 0.3429 - val_accuracy: 0.8625 - val_loss: 0.3419

In [27]:
model.save('model.keras')

In [28]:
from tensorflow.keras.models import load_model # type: ignore

In [29]:
model = load_model('model.keras')

In [30]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [31]:
input_data = {
    'CreditScore':800,
    'Gender':'Male',
    'Age':30,
    'Tenure':7,
    'Balance':600000,
    'NumOfProducts':5,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':100000,
    'Geography':'Spain' 
}

In [32]:
input_data = pd.DataFrame([input_data])
input_data['Gender'] = label_encode.transform(input_data['Gender'])
geo_encode = onehot_encode.transform(input_data[['Geography']]) # type: ignore
input_data = pd.concat([input_data.drop(columns='Geography'),geo_encode],axis=1)
input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.transform(input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0.9,1,0.162162,0.7,2.776365,5,1,1,0.49999,0.0,0.0,1.0

In [111]:
label_encode.transform(['Male'])

array([1])

In [33]:
prediction = model.predict(input_data)
round(prediction[0][0])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step

1

In [33]:
onehot_encode.transform(input_data[['Geography']])

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [34]:
geo_encode

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [61]:
input_data = [{
    'CreditScore':800,
    'Gender':'Male',
    'Age':30,
    'Tenure':7,
    'Balance':600000,
    'NumOfProducts':5,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':100000,
    'Geography':'Spain' 
}]

In [62]:
input_data = pd.DataFrame(input_data)

In [63]:
geo_encode = onehot_encode.transform(input_data[['Geography']])

In [64]:
input_data.drop(columns='Geography',inplace = True)

In [65]:
new_df = pd.concat([input_data.reset_index(drop=True),geo_encode],axis=1)

In [66]:
new_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,800,Male,30,7,600000,5,1,1,100000,0.0,0.0,1.0

In [67]:
new_df[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.transform(input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])

In [91]:
new_df.loc[0]

CreditScore               0.9
Gender                   Male
Age                  0.162162
Tenure                    0.7
Balance              2.391409
NumOfProducts               5
HasCrCard                   1
IsActiveMember              1
EstimatedSalary       0.49999
Geography_France          0.0
Geography_Germany         0.0
Geography_Spain           1.0
Name: 0, dtype: object

In [79]:
datasome = pd.DataFrame([{'Credit':200,'NewTime':'Heaven'},{'Credit':500,'NewTime':'MonteCarlo'}])

In [ ]:
scale.transform(datasome)

In [83]:
scale.get_feature_names_out()

array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'],
      dtype=object)

In [84]:
np.array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'])

array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'],
      dtype='<U15')