# Churn modelling end-to-end

### Importing libraries

In [1]:
import numpy as np, pandas as pd
import seaborn as sns, matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,MinMaxScaler
import pickle
%matplotlib inline

### Load the Dataset

In [17]:
churn_data=pd.read_csv("Churn_Modelling.csv")
df = churn_data.copy()

In [19]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [20]:
df.shape

(10000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [34]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

### Dropping unnecessary columns

In [21]:
df.drop(columns=df.iloc[:,0:3],inplace=True) # type: ignore

In [22]:
label_encode = LabelEncoder()
onehot_encode = OneHotEncoder(sparse_output=False).set_output(transform='pandas')
scale = MinMaxScaler()

In [84]:
with open('label_encode.pkl','wb') as file:
    pickle.dump(label_encode,file)
with open('onehot_encode.pkl','wb') as file:
    pickle.dump(onehot_encode,file)
with open('scale.pkl','wb') as file:
    pickle.dump(scale,file)

In [23]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Label Encode and One Hot to categorical columns

In [24]:
df['Gender'] = label_encode.fit_transform(df['Gender'])
df_geography = onehot_encode.fit_transform(df[['Geography']]) # type: ignore
df = pd.concat([df,df_geography],axis=1)
df.drop(columns='Geography',inplace=True)

In [25]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### Scaling the data

In [26]:
df[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.fit_transform(df[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])

In [27]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0,0.324324,0.2,0.000000,1,1,1,0.506735,1,1.0,0.0,0.0
1,0.516,0,0.310811,0.1,0.334031,1,0,1,0.562709,0,0.0,0.0,1.0
2,0.304,0,0.324324,0.8,0.636357,3,1,0,0.569654,1,1.0,0.0,0.0
3,0.698,0,0.283784,0.1,0.000000,2,0,0,0.469120,0,1.0,0.0,0.0
4,1.000,0,0.337838,0.2,0.500246,1,1,1,0.395400,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1,0.283784,0.5,0.000000,2,1,0,0.481341,0,1.0,0.0,0.0
9996,0.332,1,0.229730,1.0,0.228657,1,1,1,0.508490,0,1.0,0.0,0.0
9997,0.718,0,0.243243,0.7,0.000000,1,0,1,0.210390,1,1.0,0.0,0.0
9998,0.844,1,0.324324,0.3,0.299226,2,1,0,0.464429,1,0.0,1.0,0.0
9999,0.884,0,0.135135,0.4,0.518708,1,1,0,0.190914,0,1.0,0.0,0.0

### Splitting the data

In [70]:
X = df.drop(columns=['Exited'])
y = df['Exited']
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

### ANN

In [82]:
import tensorflow as tf
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense,Dropout # type: ignore
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard # type: ignore
import datetime

### Build ANN Model

In [83]:
# Create Model
model = Sequential([
    Dense(128,activation='relu',input_shape=(X_train.shape[1],)), # First hidden layer connected with i/p layer
    Dropout(0.3),
    Dense(64,activation='relu'), # Second hidden layer
    Dropout(0.2),
    Dense(32,activation='relu'),
    Dropout(0.1),
    Dense(1,activation='sigmoid')
])

c:\Users\Sayantan\anaconda3\envs\my_env\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [84]:
# Model Summary
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_7 (Dense)                 │ (None, 128)            │         1,664 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_4 (Dropout)             │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_5 (Dropout)             │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_6 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 12,033 (47.00 KB)

 Trainable params: 12,033 (47.00 KB)

 Non-trainable params: 0 (0.00 B)

In [85]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.001) # type: ignore
# opt = tensorflow.keras.optimizers.RMSprop(learning_rate=0.001)
# opt = tensorflow.keras.optimizers.SGD(learning_rate=0.001)

In [86]:
# Compile the model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [87]:
# log_dir = "logs/fit"
# tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [88]:
# Early stopping
early_stop = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [91]:
# history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[early_stop])
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 831us/step - accuracy: 0.8547 - loss: 0.3553 - val_accuracy: 0.8550 - val_loss: 0.3602
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 815us/step - accuracy: 0.8595 - loss: 0.3556 - val_accuracy: 0.8590 - val_loss: 0.3490
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8618 - loss: 0.3467 - val_accuracy: 0.8620 - val_loss: 0.3471
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - accuracy: 0.8564 - loss: 0.3516 - val_accuracy: 0.8590 - val_loss: 0.3477
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.8546 - loss: 0.3567 - val_accuracy: 0.8595 - val_loss: 0.3420
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8568 - loss: 0.3494 - val_accuracy: 0.8650 - val_loss: 0.3400
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - accuracy: 0.8558 - loss: 0.3506 - val_accuracy: 0.8610 - val_loss: 0.3440
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - accuracy: 0.8621 - loss: 0.3411 - val_accuracy: 0.8615 - val_loss: 0.3430
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - accuracy: 0.8568 - loss: 0.3563 - val_accuracy: 0.8605 - val_loss: 0.3451
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8595 - loss: 0.3443 - val_accuracy: 0.8620 - val_loss: 0.3415
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 725us/step - accuracy: 0.8644 - loss: 0.3365 - val_accuracy: 0.8605 - val_loss: 0.3406
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8568 - loss: 0.3418 - val_accuracy: 0.8610 - val_loss: 0.3413
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - accuracy: 0.8621 - loss: 0.3399 - val_accuracy: 0.8590 - val_loss: 0.3412
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step - accuracy: 0.8702 - loss: 0.3229 - val_accuracy: 0.8620 - val_loss: 0.3384
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8558 - loss: 0.3486 - val_accuracy: 0.8660 - val_loss: 0.3407
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - accuracy: 0.8563 - loss: 0.3429 - val_accuracy: 0.8610 - val_loss: 0.3384
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8566 - loss: 0.3465 - val_accuracy: 0.8615 - val_loss: 0.3395
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.8657 - loss: 0.3345 - val_accuracy: 0.8605 - val_loss: 0.3411
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - accuracy: 0.8617 - loss: 0.3365 - val_accuracy: 0.8595 - val_loss: 0.3387
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - accuracy: 0.8626 - loss: 0.3338 - val_accuracy: 0.8600 - val_loss: 0.3454
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8602 - loss: 0.3350 - val_accuracy: 0.8570 - val_loss: 0.3434
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 715us/step - accuracy: 0.8629 - loss: 0.3397 - val_accuracy: 0.8585 - val_loss: 0.3472
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8557 - loss: 0.3436 - val_accuracy: 0.8560 - val_loss: 0.3453
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8647 - loss: 0.3326 - val_accuracy: 0.8595 - val_loss: 0.3380
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.8592 - loss: 0.3404 - val_accuracy: 0.8610 - val_loss: 0.3391
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 724us/step - accuracy: 0.8592 - loss: 0.3407 - val_accuracy: 0.8570 - val_loss: 0.3388
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 769us/step - accuracy: 0.8701 - loss: 0.3239 - val_accuracy: 0.8600 - val_loss: 0.3399
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.8668 - loss: 0.3297 - val_accuracy: 0.8620 - val_loss: 0.3395
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - accuracy: 0.8614 - loss: 0.3360 - val_accuracy: 0.8610 - val_loss: 0.3410
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.8591 - loss: 0.3387 - val_accuracy: 0.8620 - val_loss: 0.3394
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8642 - loss: 0.3344 - val_accuracy: 0.8600 - val_loss: 0.3387
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8698 - loss: 0.3280 - val_accuracy: 0.8600 - val_loss: 0.3398
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - accuracy: 0.8609 - loss: 0.3425 - val_accuracy: 0.8585 - val_loss: 0.3428
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step - accuracy: 0.8662 - loss: 0.3245 - val_accuracy: 0.8630 - val_loss: 0.3405
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8580 - loss: 0.3416 - val_accuracy: 0.8600 - val_loss: 0.3382
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - accuracy: 0.8624 - loss: 0.3356 - val_accuracy: 0.8590 - val_loss: 0.3383
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 713us/step - accuracy: 0.8600 - loss: 0.3386 - val_accuracy: 0.8600 - val_loss: 0.3392
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8644 - loss: 0.3315 - val_accuracy: 0.8610 - val_loss: 0.3384
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - accuracy: 0.8648 - loss: 0.3257 - val_accuracy: 0.8600 - val_loss: 0.3420
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8630 - loss: 0.3319 - val_accuracy: 0.8580 - val_loss: 0.3438
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - accuracy: 0.8603 - loss: 0.3296 - val_accuracy: 0.8605 - val_loss: 0.3433
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - accuracy: 0.8741 - loss: 0.3148 - val_accuracy: 0.8595 - val_loss: 0.3384
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.8649 - loss: 0.3269 - val_accuracy: 0.8600 - val_loss: 0.3434
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8666 - loss: 0.3253 - val_accuracy: 0.8595 - val_loss: 0.3381
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 715us/step - accuracy: 0.8574 - loss: 0.3411 - val_accuracy: 0.8610 - val_loss: 0.3379
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8654 - loss: 0.3244 - val_accuracy: 0.8605 - val_loss: 0.3361
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8575 - loss: 0.3323 - val_accuracy: 0.8605 - val_loss: 0.3391
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8692 - loss: 0.3218 - val_accuracy: 0.8595 - val_loss: 0.3379
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - accuracy: 0.8662 - loss: 0.3271 - val_accuracy: 0.8605 - val_loss: 0.3404
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8629 - loss: 0.3243 - val_accuracy: 0.8610 - val_loss: 0.3399
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 685us/step - accuracy: 0.8744 - loss: 0.3122 - val_accuracy: 0.8615 - val_loss: 0.3412
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8678 - loss: 0.3190 - val_accuracy: 0.8625 - val_loss: 0.3400
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8643 - loss: 0.3260 - val_accuracy: 0.8585 - val_loss: 0.3444
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - accuracy: 0.8672 - loss: 0.3208 - val_accuracy: 0.8550 - val_loss: 0.3410
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8661 - loss: 0.3265 - val_accuracy: 0.8615 - val_loss: 0.3387
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8765 - loss: 0.3134 - val_accuracy: 0.8635 - val_loss: 0.3490
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - accuracy: 0.8710 - loss: 0.3188 - val_accuracy: 0.8620 - val_loss: 0.3391
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 687us/step - accuracy: 0.8664 - loss: 0.3199 - val_accuracy: 0.8630 - val_loss: 0.3402
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8624 - loss: 0.3343 - val_accuracy: 0.8630 - val_loss: 0.3434
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8696 - loss: 0.3138 - val_accuracy: 0.8615 - val_loss: 0.3378
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8716 - loss: 0.3166 - val_accuracy: 0.8615 - val_loss: 0.3415
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - accuracy: 0.8714 - loss: 0.3179 - val_accuracy: 0.8615 - val_loss: 0.3446
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8729 - loss: 0.3090 - val_accuracy: 0.8600 - val_loss: 0.3408
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - accuracy: 0.8712 - loss: 0.3109 - val_accuracy: 0.8555 - val_loss: 0.3410
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8704 - loss: 0.3181 - val_accuracy: 0.8585 - val_loss: 0.3393
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8657 - loss: 0.3248 - val_accuracy: 0.8570 - val_loss: 0.3418
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8668 - loss: 0.3231 - val_accuracy: 0.8565 - val_loss: 0.3455
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8661 - loss: 0.3288 - val_accuracy: 0.8595 - val_loss: 0.3386
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8662 - loss: 0.3273 - val_accuracy: 0.8605 - val_loss: 0.3411
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 698us/step - accuracy: 0.8710 - loss: 0.3106 - val_accuracy: 0.8575 - val_loss: 0.3404
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - accuracy: 0.8711 - loss: 0.3121 - val_accuracy: 0.8620 - val_loss: 0.3402
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8676 - loss: 0.3209 - val_accuracy: 0.8600 - val_loss: 0.3420
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8785 - loss: 0.3093 - val_accuracy: 0.8625 - val_loss: 0.3415
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8720 - loss: 0.3114 - val_accuracy: 0.8600 - val_loss: 0.3435
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8667 - loss: 0.3188 - val_accuracy: 0.8585 - val_loss: 0.3402
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8710 - loss: 0.3164 - val_accuracy: 0.8560 - val_loss: 0.3545
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8683 - loss: 0.3242 - val_accuracy: 0.8610 - val_loss: 0.3422
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.8648 - loss: 0.3267 - val_accuracy: 0.8575 - val_loss: 0.3451
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8704 - loss: 0.3129 - val_accuracy: 0.8585 - val_loss: 0.3398
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - accuracy: 0.8742 - loss: 0.3095 - val_accuracy: 0.8585 - val_loss: 0.3436
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - accuracy: 0.8687 - loss: 0.3187 - val_accuracy: 0.8580 - val_loss: 0.3479
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 683us/step - accuracy: 0.8631 - loss: 0.3142 - val_accuracy: 0.8570 - val_loss: 0.3448
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8704 - loss: 0.3120 - val_accuracy: 0.8595 - val_loss: 0.3447
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 692us/step - accuracy: 0.8743 - loss: 0.3065 - val_accuracy: 0.8570 - val_loss: 0.3412
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.8799 - loss: 0.3002 - val_accuracy: 0.8570 - val_loss: 0.3423
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 744us/step - accuracy: 0.8730 - loss: 0.3093 - val_accuracy: 0.8625 - val_loss: 0.3394
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8708 - loss: 0.3018 - val_accuracy: 0.8610 - val_loss: 0.3395
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - accuracy: 0.8712 - loss: 0.3123 - val_accuracy: 0.8560 - val_loss: 0.3425
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - accuracy: 0.8753 - loss: 0.3041 - val_accuracy: 0.8575 - val_loss: 0.3446
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 696us/step - accuracy: 0.8748 - loss: 0.3104 - val_accuracy: 0.8620 - val_loss: 0.3404
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8735 - loss: 0.3136 - val_accuracy: 0.8615 - val_loss: 0.3474
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8819 - loss: 0.3022 - val_accuracy: 0.8585 - val_loss: 0.3488
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 695us/step - accuracy: 0.8689 - loss: 0.3107 - val_accuracy: 0.8580 - val_loss: 0.3445
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 703us/step - accuracy: 0.8737 - loss: 0.2954 - val_accuracy: 0.8585 - val_loss: 0.3467
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8740 - loss: 0.3098 - val_accuracy: 0.8550 - val_loss: 0.3415
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.8738 - loss: 0.3087 - val_accuracy: 0.8590 - val_loss: 0.3471
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8694 - loss: 0.3128 - val_accuracy: 0.8580 - val_loss: 0.3430
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.8690 - loss: 0.3101 - val_accuracy: 0.8565 - val_loss: 0.3459
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8719 - loss: 0.3133 - val_accuracy: 0.8545 - val_loss: 0.3491
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.8720 - loss: 0.2998 - val_accuracy: 0.8615 - val_loss: 0.3454

In [92]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [93]:
from tensorflow.keras.models import load_model # type: ignore

In [94]:
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [28]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [96]:
input_data = {
    'CreditScore':800,
    'Gender':'Male',
    'Age':30,
    'Tenure':7,
    'Balance':600000,
    'NumOfProducts':5,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':100000,
    'Geography':'Spain' 
}

In [97]:
input_data = pd.DataFrame([input_data])
input_data['Gender'] = label_encode.transform(input_data['Gender'])
geo_encode = onehot_encode.transform(input_data[['Geography']]) # type: ignore
input_data = pd.concat([input_data.drop(columns='Geography'),geo_encode],axis=1)
input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.transform(input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0.9,1,0.162162,0.7,2.391409,5,1,1,0.49999,0.0,0.0,1.0

In [111]:
label_encode.transform(['Male'])

array([1])

In [98]:
prediction = model.predict(input_data)
round(prediction[0][0])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 298ms/step

1

In [33]:
onehot_encode.transform(input_data[['Geography']])

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [34]:
geo_encode

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [61]:
input_data = [{
    'CreditScore':800,
    'Gender':'Male',
    'Age':30,
    'Tenure':7,
    'Balance':600000,
    'NumOfProducts':5,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':100000,
    'Geography':'Spain' 
}]

In [62]:
input_data = pd.DataFrame(input_data)

In [63]:
geo_encode = onehot_encode.transform(input_data[['Geography']])

In [64]:
input_data.drop(columns='Geography',inplace = True)

In [65]:
new_df = pd.concat([input_data.reset_index(drop=True),geo_encode],axis=1)

In [66]:
new_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,800,Male,30,7,600000,5,1,1,100000,0.0,0.0,1.0

In [67]:
new_df[['CreditScore','Age','Balance','EstimatedSalary','Tenure']] = scale.transform(input_data[['CreditScore','Age','Balance','EstimatedSalary','Tenure']])

In [91]:
new_df.loc[0]

CreditScore               0.9
Gender                   Male
Age                  0.162162
Tenure                    0.7
Balance              2.391409
NumOfProducts               5
HasCrCard                   1
IsActiveMember              1
EstimatedSalary       0.49999
Geography_France          0.0
Geography_Germany         0.0
Geography_Spain           1.0
Name: 0, dtype: object

In [79]:
datasome = pd.DataFrame([{'Credit':200,'NewTime':'Heaven'},{'Credit':500,'NewTime':'MonteCarlo'}])

In [ ]:
scale.transform(datasome)

In [83]:
scale.get_feature_names_out()

array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'],
      dtype=object)

In [84]:
np.array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'])

array(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure'],
      dtype='<U15')